In [2]:
import pandas as pd

In [10]:
df = pd.read_csv('./pump_sensor_data.csv')

In [11]:
df.head()

,date,sensor_00,sensor_01,sensor_02,sensor_03,sensor_04,sensor_05,sensor_06,sensor_07,sensor_08,...,sensor_42,sensor_43,sensor_44,sensor_45,sensor_46,sensor_47,sensor_48,sensor_49,sensor_51,machine_status
0,4/1/2018 0:00,2.465394,47.09201,53.2118,46.310760,634.3750,76.45975,13.41146,16.13136,15.56713,...,31.770832,41.92708,39.641200,65.68287,50.92593,38.194440,157.9861,67.70834,201.3889,0.0
1,4/1/2018 0:01,2.465394,47.09201,53.2118,46.310760,634.3750,76.45975,13.41146,16.13136,15.56713,...,31.770832,41.92708,39.641200,65.68287,50.92593,38.194440,157.9861,67.70834,201.3889,0.0
2,4/1/2018 0:02,2.444734,47.35243,53.2118,46.397570,638.8889,73.54598,13.32465,16.03733,15.61777,...,31.770830,41.66666,39.351852,65.39352,51.21528,38.194443,155.9606,67.12963,203.7037,0.0
3,4/1/2018 0:03,2.460474,47.09201,53.1684,46.397568,628.1250,76.98898,13.31742,16.24711,15.69734,...,31.510420,40.88541,39.062500,64.81481,51.21528,38.194440,155.9606,66.84028,203.1250,0.0
4,4/1/2018 0:04,2.445718,47.13541,53.2118,46.397568,636.4583,76.58897,13.35359,16.21094,15.69734,...,31.510420,41.40625,38.773150,65.10416,51.79398,38.773150,158.2755,66.55093,201.3889,0.0

In [12]:
df['timestamp'] = pd.to_datetime(df['date'])

In [13]:
df['timestamp']

0        2018-04-01 00:00:00
1        2018-04-01 00:01:00
2        2018-04-01 00:02:00
3        2018-04-01 00:03:00
4        2018-04-01 00:04:00
                 ...
220315   2018-08-31 23:55:00
220316   2018-08-31 23:56:00
220317   2018-08-31 23:57:00
220318   2018-08-31 23:58:00
220319   2018-08-31 23:59:00
Name: timestamp, Length: 220320, dtype: datetime64[ns]

In [14]:
df['hour'] = df['timestamp'].dt.hour
df['hour']

0          0
1          0
2          0
3          0
4          0
          ..
220315    23
220316    23
220317    23
220318    23
220319    23
Name: hour, Length: 220320, dtype: int64

In [16]:
grouped = df.groupby(pd.Grouper(key='timestamp', freq='1H')).mean()

C:\Users\mina\AppData\Local\Temp\ipykernel_4784\1547425722.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  grouped = df.groupby(pd.Grouper(key='timestamp', freq='1H')).mean()

In [18]:
grouped.to_csv('./pump_data.csv')

In [15]:
df['hour'] = df['timestamp'].dt.hour
grouped_by_hour = df.groupby('hour').mean()
grouped_by_hour.shape

C:\Users\mina\AppData\Local\Temp\ipykernel_4784\676648303.py:2: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  grouped_by_hour = df.groupby('hour').mean()

(24, 43)